.scroll_time {
    cursor:             pointer;
}

.timeblock {
    font-size:          14pt;
    font-weight:        bold;
    text-align:         right;
}

#program_grid {
    width:              100%;
//    border-spacing:     4px;
//    border-collapse:    separate;
//    cellspacing:        2px; 
}

.program_details {
    background-color:   #d0d0d0;
    vertical-align:     text-top;
}

.program_details_section {
    display:            block;
    width:              640px;
    float:              left;
}

.program_details_record {
    display:            none;
}

.program_details_title {
    font-size:          14pt;
    font-weight:        bold;
}

.program_details_subtitle {
    font-size:          14pt;
}

.program_details_header {
    float:              right;
    width:              100%;
}

.program_details_header > div {
    background-color:   #c0c0c0;
    font-size:          12pt;
    float:              right;
    padding:            4px;
}


.channel {
    width:              8em;
    height:             70px;
    padding:            0 !important;
    text-align:         center;
    vertical-align:     middle;
    background-color:   #dedede;
    white-space:        nowrap;
}
.channel img {
    position:           relative;
    top:                -4px;
    vertical-align:     middle;
    max-width:          70px;
    max-height:         30px;
    padding:            5px;
}

.program {
    border-left-width:  6px;
    border-left-style:  solid;
    cursor:             pointer;
}

.selectedProgram {
    background-color:   #cecece;
}

.cat_Action         { border-left-color: #906020; }
.cat_Adult          { border-left-color: #702020; }
.cat_Animals        { border-left-color: #609060; }
.cat_Art_Music      { border-left-color: #801060; }
.cat_Arts_Culture   { border-left-color: #801060; }
.cat_Business       { border-left-color: #703010; }
.cat_Children       { border-left-color: #B00010; }
.cat_Comedy         { border-left-color: #006080; }
.cat_Crime_Mystery  { border-left-color: #105050; }
.cat_Documentary    { border-left-color: #504020; }
.cat_Drama          { border-left-color: #400060; }
.cat_Educational    { border-left-color: #606060; }
.cat_Food           { border-left-color: #208040; }
.cat_Game           { border-left-color: #701010; }
.cat_Health_Medical { border-left-color: #806060; }
.cat_History        { border-left-color: #807020; }
.cat_HowTo          { border-left-color: #A0A000; }
.cat_Horror         { border-left-color: #101040; }
.cat_Misc           { border-left-color: #403060; }
.cat_News           { border-left-color: #606040; }
.cat_Reality        { border-left-color: #304040; }
.cat_Romance        { border-left-color: #A02050; }
.cat_Science_Nature { border-left-color: #008050; }
.cat_SciFi_Fantasy  { border-left-color: #606090; }
.cat_Shopping       { border-left-color: #103010; }
.cat_Soaps          { border-left-color: #508080; }
.cat_Spiritual      { border-left-color: #804080; }
.cat_Sports         { border-left-color: #005030; }
.cat_Talk           { border-left-color: #203040; }
.cat_Travel         { border-left-color: #2060B0; }
.cat_War            { border-left-color: #B06050; }
.cat_Western        { border-left-color: #806040; }
.cat_Unknown        { border-left-color: #303030; }
