<!DOCTYPE html>
<html>

<head>
    <title>AminoPVR - Recordings</title>
    <link rel="stylesheet" href="/assets/webui/css/epg.css" />
    <link rel="stylesheet" href="/assets/webui/css/search.css" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/webui/js/spin.js"></script>
    <script src="/assets/js/aminopvr.js"></script>
    <script src="/assets/webui/js/lib.js"></script>
    <script src="/assets/webui/js/search.js"></script>
    <script src="/assets/webui/js/recordings.js"></script>
</head>

<body>

<div id="search">
</div>

<div>
    <table id="recordings">
        <thead>
            <tr>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Date & Time</th>
                <th>Channel</th>
                <th>Length</th>
                <th>File size</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

</body>
</html>
