<!DOCTYPE html>
<html>

<head>
    <title>AminoPVR - Search$title</title>
    <link rel="stylesheet" href="/assets/webui/css/common.css" />
    <link rel="stylesheet" href="/assets/webui/css/search.css" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/webui/js/spin.js"></script>
    <script src="/assets/js/aminopvr.js"></script>
    <script src="/assets/webui/js/lib.js"></script>
    <script src="/assets/webui/js/search.js"></script>
</head>

<body>

<div id="top_menu">
    <table class="content_grid">
        <thead>
            <th><a href="/webui/epg/">EPG</a></th>
            <th><a href="/webui/schedules/">SCHEDULES</a></th>
            <th><a href="/webui/recordings/">RECORDINGS</a></th>
            <th><a href="/webui/search/">SEARCH</a></th>
            <th><a href="/webui/status/">STATUS</a></th>
        </thead>
    </table>
</div>

<div id="search">
</div>

</body>
</html>
